

<ion-content>
  <ion-grid id="mainGrid">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col>
          <ion-item color="dark">
            <ion-label position="stacked" class="labelInput">Nombre</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="dark">
            <ion-label position="stacked" class="labelInput">Edad</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="edad"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="dark">
            <ion-label position="stacked" class="labelInput">Ciudad</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="ciudad"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="dark">
            <ion-label position="stacked" class="labelInput">Género</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="genero"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="dark">
            <ion-label position="stacked" class="labelInput">Idioma</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="idioma"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="dark">
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea rows="6" cols="20" readonly="{{readOnly}}" formControlName="descripcion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="3">
          <ion-button shape="round" fill="clear" color="light" href="home" target="_parent"><ion-icon name="arrow-undo" size="large"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button shape="round" color="light" (click)="readOnlyFunc()">{{buttonText}}</ion-button>
        </ion-col>
      </ion-row> 
    </ion-grid>
    </ion-grid>
</ion-content>

