

<ion-content>
  <ion-grid id="mainGrid" class="perfil">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col>
          <ion-item color="{{darkModeInput}}">
            <ion-label position="stacked" class="labelInput">Nombre</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="{{darkModeInput}}">
            <ion-label position="stacked" class="labelInput">Edad</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="edad"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="{{darkModeInput}}">
            <ion-label position="stacked" class="labelInput">Ciudad</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="ciudad"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="{{darkModeInput}}">
            <ion-label position="stacked" class="labelInput">Género</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="genero"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="{{darkModeInput}}">
            <ion-label position="stacked" class="labelInput">Idioma</ion-label>
            <ion-input readonly="{{readOnly}}" formControlName="idioma"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="{{darkModeInput}}">
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea rows="6" cols="20" readonly="{{readOnly}}" formControlName="descripcion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="3">
          <ion-button shape="round" fill="clear" color="{{darkModeButtons}}" href="home" target="_parent"><ion-icon name="arrow-undo" size="large"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button shape="round" color="{{darkModeButtons}}" (click)="readOnlyFunc()">{{buttonText}}</ion-button>
        </ion-col>
      </ion-row> 
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-button shape="round" fill="clear" color="{{darkModeButtons}}" (click)="switchDarkMode()"><ion-icon name="moon-outline" size="large"></ion-icon></ion-button>
      </ion-row>
    </ion-grid>
    
  </ion-grid>
  <ion-footer-bar class="bar-stable">
    <ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;">Logout</ion-item>
  </ion-footer-bar>
</ion-content>


