

<ion-content>

  <ion-grid id="mainGrid">
    <ion-grid class="searchGrid">
      
      <ion-item class="inputSearch">
          <ion-label class="labelInput" position="floating">Buscar una tarea...</ion-label>
          <ion-input id="input" class="inputVal" shape="round"></ion-input>
      </ion-item>
      <ion-button id="button" tappable (click)="search()" class="buttonSearch">Buscar</ion-button>

    </ion-grid>
    <ion-label id="errorLabel"></ion-label>
    <br>
    <br>
    <br>
    <br>
    <u><ion-label class="titleTareas">Tareas a realizar</ion-label></u>
    <br>
    <br>
    <br>

    <ion-grid class="tareasGrid">

      <ion-button href="/tarea/tarea1" class="buttonTarea">Tarea 1</ion-button>
      
      <ion-item class="checkboxTareas">
        <ion-checkbox></ion-checkbox>
      </ion-item>
      
    </ion-grid>

    <ion-grid class="tareasGrid">

      <ion-button href="/tarea/tarea2" class="buttonTarea">Tarea 2</ion-button>
      
      <ion-item class="checkboxTareas">
        <ion-checkbox></ion-checkbox>
      </ion-item>
      
    </ion-grid>

    <ion-grid class="tareasGrid">

      <ion-button href="/tarea/tarea3" class="buttonTarea">Tarea 3</ion-button>
      
      <ion-item class="checkboxTareas">
        <ion-checkbox></ion-checkbox>
      </ion-item>
      
    </ion-grid>

    <ion-grid class="tareasGrid">

      <ion-button href="/tarea/tarea4" class="buttonTarea">Tarea 4</ion-button>
      
      <ion-item class="checkboxTareas">
        <ion-checkbox></ion-checkbox>
      </ion-item>
      
    </ion-grid>


    <ion-grid class="gridFlecha">
        <a style="width: 50px;" href="/home"><img class="flechaAtras" src="../../../assets/images/flechaAtras.png"></a>
    </ion-grid>

  </ion-grid>
    


</ion-content>


