
<ion-content>

    <ion-grid id="mainGrid">
      <ion-button href="/tareas" class="button" shape="round" expand="full">
        Tareas
      </ion-button>
      <ion-button href="/mensajes" class="button" shape="round" expand="full">
        Mensajes
      </ion-button>
      <ion-button href="/grupos" class="button" shape="round" expand="full">
        Grupos
      </ion-button>
      <ion-button href="/psicologos" class="button" shape="round" expand="full">
        Psicologos
      </ion-button>
      <ion-grid class="spaceImage">
        <ion-grid>
          <img src="../../../assets/images/psicologia.png">
        </ion-grid>
        <ion-grid>
          <ion-label>PSICOLOGOS</ion-label>
        </ion-grid>
      </ion-grid>
    </ion-grid>
      
  

</ion-content>





      
